<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8b132b72f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <title></title>
</head>

<body>
<div class = "main">
    <form action="#"
          th:action="@{/admin/song/process}"
          th:object="${song}"
          method="post"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />


        <div class="form-group">
            <label> Song Title</label>
            <input type="text" th:field="*{songTitle}"/><br />
        </div>

        <div class="form-group">
            <label>Song Genre</label>
            <input type="text" th:field="*{songGenre}" class="form-control"/><br />
        </div>

        <div class="form-group">
            <label>Song Year</label>
            <input type="text" th:field="*{songYear}" class="form-control" />
        </div>


        <div class="form-group">
            <label>Artist </label>
            <div th:each="artist : ${artists}">
                <p>[[${artist.artistName}]]</p>
                <input th:field="*{artists}" type="checkbox" th:value="${artist.id}">
            </div>
        </div>

        <div class="form-group">
            <label>Song Album</label>
            <div th:each="album : ${albums}">
                <label > [[${album.albumName}]]</label>
                <input th:field="*{songAlbum}" type="radio" name="album" th:value="${album.id}"> <br>
            </div>
        </div>


        <input type="submit" value="Submit" />

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>