<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="base :: BootStrapCSS"></div>
    <title></title>
</head>
<header th:replace="base :: navbar1"> </header>
<body>


<br>
<div class="sort-button" align="center" style="padding: 5px 35px">
    <button type="button" class="btn btn-outline-light" style="padding: 5px 50px">Genre</button>
    <button type="button" class="btn btn-outline-light" style="padding: 5px 50px">Album</button>
    <button type="button" class="btn btn-outline-light" style="padding: 5px 50px">Song</button>
    <button type="button" class="btn btn-outline-light" style="padding: 5px 50px">Duration</button>
    <button type="button" class="btn btn-outline-light" style="padding: 5px 50px">Artist</button>
</div>
<br>


<hr class="featurette-divider">

<h4>Featured Songs</h4>
<br>
<!--Carousel Wrapper-->
<div id="multi-item-example1" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example1" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example1" data-slide="next"><i
                class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->


    <ol class="carousel-indicators">
        <li data-target="#multi-item-example1" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example1" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example1" data-slide-to="1"></li>

    </ol>

    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox" style="background-color: black">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <iframe src="https://www.youtube.com/embed/7-x3uD5z1bQ?showinfo=0&rel=0&fs=0&autohide=0&controls=0&disablekb=1"
                            width="350" height="260" frameborder="0"></iframe>
                    <!--                    <img class="card-img-top"-->
                    <!--                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">-->
                    <div class="card-body-featured">
                        <h4 class="card-title">Watermelon Sugar</h4>
                        <p class="card-text">By Harry Styles</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                         alt="Card image cap">
                    <div class="card-body-featured" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                         alt="Card image cap">
                    <div class="card-body-featured" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                         alt="Card image cap">
                    <div class="card-body-featured" width="350" height="260">
                        <h4 class="card-title"> Card title </h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary"> Button </a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                         alt="Card image cap">
                    <div class="card-body-featured" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                         alt="Card image cap">
                    <div class="card-body-featured" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                         alt="Card image cap">
                    <div class="card-body-featured" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                         alt="Card image cap">
                    <div class="card-body-featured" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->


    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
<hr class="featurette-divider">
<br><h4>Featured Artist</h4><br>
<div class="slideshow"
     data-cycle-fx=carousel
     data-cycle-timeout=0
     data-cycle-carousel-visible=5
     data-cycle-next="#next"
     data-cycle-prev="#prev"
     data-cycle-pager="#pager"
>
    <a th:href="@{/ArtistPage}"><img class="image-circle"
                                     src="https://i.pinimg.com/originals/5d/f0/0e/5df00e7bcbd8e73bbc03d0b78413dd63.jpg"
                                     height="200" width="200"></a>
    <img class="image-circle" src="http://malsup.github.io/images/beach2.jpg">
    <img class="image-circle" src="http://malsup.github.io/images/beach9.jpg">
    <img class="image-circle" src="http://malsup.github.io/images/beach9.jpg">
    <img class="image-circle" src="http://malsup.github.io/images/beach9.jpg">
    <img class="image-circle" src="http://malsup.github.io/images/beach9.jpg">
    <img class="image-circle" src="http://malsup.github.io/images/beach9.jpg">

</div>


<!--<div class=center>-->
<!--    <a href=# id=prev>&lt;&lt; Prev </a>-->
<!--    <a href=# id=next> Next &gt;&gt; </a>-->
<!--</div>-->
</div>

<hr class="featurette-divider">

<h4>Quarantine Playlist Summer 2020</h4>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>

    </ol>

    <!--/.Indicators-->
    <br>

    <br>
    <!--Slides-->
    <div class="carousel-inner" role="listbox" style="background-color: black">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <iframe src="https://www.youtube.com/embed/7-x3uD5z1bQ?showinfo=0&rel=0&fs=0&autohide=0&controls=0&disablekb=1"
                            width="350" height="260" frameborder="0"></iframe>
                    <!--                    <img class="card-img-top"-->
                    <!--                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">-->
                    <div class="card-body">
                        <h4 class="card-title">Watermelon Sugar</h4>
                        <p class="card-text">By Harry Styles</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                         alt="Card image cap">
                    <div class="card-body" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                         alt="Card image cap">
                    <div class="card-body" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                         alt="Card image cap">
                    <div class="card-body" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                         alt="Card image cap">
                    <div class="card-body" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                         alt="Card image cap">
                    <div class="card-body" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                         alt="Card image cap">
                    <div class="card-body" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                         alt="Card image cap">
                    <div class="card-body" width="350" height="260">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->


    </div>
    <!--/.Slides-->

</div>

<!--/.Carousel Wrapper-->

<hr class="featurette-divider">

<font color="red" sec:authorize="isAuthenticated()">
    <h1 sec:authorize="isAuthenticated()" > Payment Term </h1>
    <p sec:authorize="isAuthenticated()">  We will use the credit card on file :
        [[${currentUser.creditCardNo}]]
        If you do not want to purchase with that card please cancel and add another form of payment.
    </p>

</font>
<hr class="featurette-divider" sec:authorize="isAuthenticated()">
<h4>Songs</h4>
<!--Carousel Wrapper-->
<div id="multi-item-example3" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example3" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example3" data-slide="next"><i
                class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example3" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example3" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example3" data-slide-to="1"></li>

    </ol>

    <!--/.Indicators-->
    <br>

    <br>
    <!--Slides-->
    <div class="carousel-inner" role="listbox" style="background-color: black">

        <!--First slide-->


        <div class="carousel-item active">
            <th:block th:each="song : ${songs}">


                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">

                        <iframe th:src="${song.songMusicUrl}" width="350" height="260" frameborder="0"></iframe>
                        <!--                    <img class="card-img-top"-->
                        <!--                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">-->
                        <div class="card-body">
                            <h4 class="card-title">[[${song.songTitle}]]</h4>
                            <p class="card-text">
                                <th:block th:each="artist : ${song.artists}">
                                    | [[${artist.artistName}]]
                                </th:block>|
                            </p>
                            <br>[[${song.songPrice}]]<br>
                            <!--                            <a class="btn btn-primary">Button</a>-->
                            <!-- Button trigger modal -->
                            <!--                            <a sec:authorize="isAuthenticated()" class="btn btn-primary" th:href="@{/purchaseSongs/{id} (id=${currentUser.id})}">-->
                            <a sec:authorize="isAuthenticated()" class="btn btn-primary" th:href="@{/purchase/song/{id} (id=${song.id})}">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Purchase
                                </button> </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <!--/.Slides-->

    </div>
    <hr class="featurette-divider">

    <div th:replace="base :: footter3"> </div>

    <div th:replace="base :: BootStrapScript"> </div>

</body>
</html>
