<!DOCTYPE html>
<html lang="en" xmlns:th=”www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul th:each="song : ${purchasedSongs}">

    <li>[[${song.songTitle}]]</li>
    <div class="carousel-inner" role="listbox" style="background-color: black">

        <!--First slide-->
        <div class="carousel-item active">
            <th:block th:each="song : ${purchasedSongs}">


                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">

                        <iframe th:src="${song.songMusicUrl}" width="350" height="260" frameborder="0"></iframe>
                        <!--                    <img class="card-img-top"-->
                        <!--                         src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">-->
                        <div class="card-body">
                            <h4 class="card-title">[[${song.songTitle}]]</h4>
                            <p class="card-text">
                                <th:block th:each="artist : ${song.artists}">
                                    | [[${artist.artistName}]]
                                </th:block>|
                            </p>
                            <!--                            <a class="btn btn-primary">Button</a>-->
                            <!-- Button trigger modal -->
                            </button>
        </div>
        <!--/.Slides-->

    </div>



</ul>

</body>
</html>